* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 500px;
}

#wheel-container {
    /*use margins to align the wheel container!!!!!*/
    margin-top: 100px; 
    margin-left: 100px; 
    /*use margins to align the wheel container!!!!!*/
    width: 500px;
    height: 500px;
    border: 1px solid #ff0000;
    border-radius: 50%;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
}

#wheel-container.noTransition,
#wheel-container.noTransition .spoke, 
#wheel-container.noTransition .spoke * {
    -webkit-transition: all 0ms ease-in-out !important;
    transition: all 0ms ease-in-out !important;
}

#wheel-container.origPos {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#origin {
    background: red;
    position: absolute;
    width: 1px;
    height: 1px;
    /* make original position at top left corner of the wheel container*/
    top: 0;
    left: 0;
    /*use margins to center origin inside the wheel container */
    margin-top: 250px; /* margin top = radius of the circle (half of the width or height of the wheel container) */
    margin-left: 350px; /* margin left = left offset of the wheel container + radius of the circle */ 
}

.spoke {
    width: 0px;
    height: 0px;
    overflow: visible;
    background-color: #000;
    position: absolute;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.spoke, .spoke * {
    font-size: 26px;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
}

.spoke-color {
    position: absolute;
    left: -50px;
    top: -50px;
    width: 100px;
    height: 100px;
    background-size: 150%;
    background: #f37053;
    overflow: visible;
    z-index: -1;
    border-radius: 50%;
}

.spoke-color.large {
    transform: scale(1.75);
}

.spoke-color.medium {
    transform: scale(1.5);
}

.spoke-color.small {
    transform: scale(1.25);
}

.spoke:first-of-type .spoke-color {
    background: yellow;
}
.spoke:nth-of-type(2) .spoke-color {
    background: blue;
}
.spoke:nth-of-type(3) .spoke-color {
    background: purple;
}
.spoke:nth-of-type(4) .spoke-color {
    background: gray;
}
.spoke:nth-of-type(5) .spoke-color {
    background: green;
}
.spoke:nth-of-type(6) .spoke-color {
    background: orange;
}

